<div class="container">
  <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item nav-right">
        <%= link_to user_path(current_user), method: :delete, class: 'nav-link js-logout-btn' do %>
          <%= fa_icon "sign-out 3x" %>
        <%end %>
      </li>
    </ul>
  </nav>
</div>
